<html>
<body>

  <form action = "/search">
    <input type ="text" name ="senator" placeholder="pick a senator">
    <button>GO!!!</button>
  </form>

  <h1>Please enter the last name of your favorite senator to see his/her Twitter handle.</h1>


</body>
</html>
