<html>
<head>
  <style type="text/css">
    #map-canvas { height: 600px; width: 800px;}
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBurh2lDleJzdr7Z2YxK_YQqXF3pnWgbM"></script>
  </head>
<body>

  <div id="map-canvas"></div>
  <% if obj %>
    <%= obj[:latitude]%>
    <%= obj[:longitude]%>
  <% end %>

  <script>
    var mapOptions = {
      center: {
        lat: <%= obj[:latitude]%>,
        lng: <%= obj[:longitude]%>
        },
      zoom: 11
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  </script>

</body>
</html>
