<html>
  <head>
<title>My Page</title>
</head>
  <body>
    <form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
      <div align="center">
        <select name="mydropdown">
          <option value="Milk">Sort By Score</option>
          <option value="Cheese">Sory by Number of Comments</option>
          <option value="Bread">Sort by Created</option>
        </select>
      </div>
    </form>
  </body>
</html>
