<html>
<body>
  <h1>Please enter the last name of your favorite senator to see his/her Twitter handle.</h1>
  <%= msg %>
  <!-- <% if finder %>
  <h2>Your senator's Twitter handle is "<%= finder %>">.</h2>
  <% end %>
  <form action = "/search">
    <input type ="text" name ="senator" placeholder="Your senator">
    <button>GO!!!</button>
  </form> -->
</body>
</html>
